* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif", serif;
}

section {
  height: 100vh;
}

/* SECTION-1 */

#section-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/banner/hannah-morgan-ycVFts5Ma4s-unsplash.jpg");

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  background-color: #fefae0;
  height: fit-content;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links li {
  list-style-type: none;
}

.navigation-links li a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 600;
}

.navigation-links li a:hover {
  text-decoration: underline;
}

ion-icon {
  font-size: 18px;
}

img {
  mix-blend-mode: multiply;
  margin-left: 22px;
}

main {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading {
  color: #fefae0;
  font-size: 70px;
  margin: 0 auto;
  line-height: 1;
  letter-spacing: -1px;
}

main a {
  text-decoration: none;
  color: black;
  margin-top: 100px;
  font-size: 24px;
  font-weight: 500;
  padding: 16px;
  border-radius: 3px;
  background-color: #e9edc9;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* SECTION-2 */

#section-2 {
  margin-top: 50px;
  background-color: #f9f9f9;
  padding: 40px 20px;
}

#section-2 h2 {
  font-size: 36px;
  color: #333;
}

#categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: 30px; */
  text-align: center;
  margin-top: 40px;
}

.category-item {
  height: max-content;
  width: 300px;
  margin-left: 30px;
  padding: 20px 0px 20px 23px;
  box-shadow: 8px 12px 20px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: pointer;
}

.category-item:hover {
  transform: translateY(-10px);
  box-shadow: 8px 12px 25px 5px rgba(0, 0, 0, 0.3);
  transition-duration: 300ms;
}
.img {
  width: 250px;
  height: 350px;
  margin-bottom: 20px;
}

.img-1 {
  background-image: url("images/Category/mojtaba-mosayebzadeh-aQfpEQXbUiM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-2 {
  background-image: url("images/Category/pmv-chamara-MEsWk-dZzlI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-3 {
  background-image: url("images/Category/ospan-ali-nyrSsBzhZ4Y-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-4 {
  background-image: url("images/Category/domino-164_6wVEHfI-unsplash\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-description p {
  color: #333;
  font-size: 20px;
  padding: 5px 10px;
}

.product-description h3 {
  text-transform: uppercase;
  font-weight: 500;
}

.btn {
  width: 50%;
  background-color: #e9edc9;
  color: #333;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  margin: 18px 0px;
  cursor: pointer;
}

.btn:hover {
  color: black;
  font-weight: 700;
}

/* RESPONSIVE */

ion-icon {
  display: none;
  margin-right: 20px;
  font-size: 40px;
}

@media (max-width: 767px) {
  /* .navigation-links {
    display: none;
  } */

  main h1 {
    padding-left: 30px;
    font-size: 12px;
    margin-top: -30px;
  }
  main a {
    font-size: 12px;
    margin-top: 20px;
  }
  nav li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    display: none;
  }
  nav li a {
    display: block;
    margin-right: 0px !important;
    margin-bottom: 3px;
  }

  #heading {
    font-size: 32px;
  }

  #heading {
    margin-top: 200px;
  }

  main a ion-icon {
    display: none;
  }

  #section-1 {
    background-position: right center;
  }

  nav {
    flex-direction: column;
  }

  header {
    position: absolute;
    width: 100%;
  }

  /* SECTION-2 */

  #categories {
    grid-template-columns: 1fr;
  }

  #section-2 h2 {
    font-size: 24px;
  }

  .category-item {
    margin: 0 auto;
  }
  nav img {
    align-self: flex-start;
  }

  ion-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .showmenubar {
    display: block;
  }
}
